### Download all dependencies

import pandas as pd # primary data structure library
import numpy as np  # useful for many scientific computing in Pyth
wiki = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
Data_table = wiki[0]
Data_table.head()

### Remove cells with a borough that is not assigned.

In [11]:

Data_table_temp=Data_table.drop(Data_table[Data_table["Borough"] == "Not assigned"].index)
Data_table_temp.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

### Aggreagte rows with the same postal code

In [14]:

Data_table_temp1 = Data_table_temp.groupby(["Postal code", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
Data_table_temp1.head()

  Postal code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern / Rouge
1         M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2         M1E  Scarborough       Guildwood / Morningside / West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

### Check If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [15]:
Data_table_temp1.loc[Data_table_temp1['Neighborhood'] == 'Not assigned', 'Neighborhood'] = Data_table_temp1.loc[Data_table_temp1['Neighborhood'] == 'Not assigned', 'Borough']

print(Data_table_temp1.loc[Data_table_temp1['Neighborhood'] == 'Not assigned'])

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

In [16]:

Data_table_temp1.head()

  Postal code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern / Rouge
1         M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2         M1E  Scarborough       Guildwood / Morningside / West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

In [8]:

df = Data_table_temp1
print("Your table has {} rows.".format(df.shape[0]))

Your table has 103 rows.